.advantage {
  background-color: $color-background-default;
  padding: 40px 20px 39px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  text-align: center;

  &--safety {
    h3::before {
      background-image: url("../img/sprite/icon-safety.svg");
    }
  }

  &--knowledge {
    h3::before {
      background-image: url("../img/sprite/icon-knowledge.svg");
    }
  }

  &--equipment {
    h3::before {
      background-image: url("../img/sprite/icon-equipment.svg");
    }
  }

  &--path {
    h3::before {
      background-image: url("../img/sprite/icon-path.svg");
    }
  }

  &--eco {
    h3::before {
      background-image: url("../img/sprite/icon-eco.svg");
    }
  }

  h3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;

    &::before {
      content: "";
      width: 54px;
      height: 54px;

      @include vp-1199 {
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
      }

      @include vp-767 {
        width: 42px;
        height: 42px;
        background-size: 42px 42px;
      }
    }

    @include vp-1199 {
      margin-bottom: 14px;
      font-size: 16px;
      line-height: 16px;
      gap: 25px;
    }

    @include vp-767 {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  @include vp-1199 {
    padding: 30px 20px 29px;
    width: 324px;
    height: auto;
  }

  @include vp-767 {
    padding: 20px 10px 19px;
    width: auto;
  }
}
