.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px 55px;
  color: $color-default-white;
  background-color: $color-button-default;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include vp-1199 {
    padding: 17px 48px;
  }

  @include vp-767 {
    padding: 14px 35px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--form {
    @include vp-1199 {
      padding: 20px;
    }

    @include vp-767 {
      padding: 17px;
    }
  }
}
