.navigation__toggle {
  padding: 0;
  margin: 0;
  display: none;
  width: 22px;
  height: 22px;
  border: none;
  background-color: $color-icon-default;
  mask-image: url("../img/sprite/icon-close-menu.svg");
  mask-size: 22px 22px;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;

  @include vp-1199 {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
