/* .rating {
  width: 79px;
  height: 14px;
  position: relative;
  display: block;
  font-size: 0;

  &::before {
    content: "";
    display: inline-block;
    width: 79px;
    height: 100%;
    background: url("../../img/sprite/icon-stars.svg") transparent no-repeat center;
    background-size: 79px 14px;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 80%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: "";
      display: inline-block;
      height: 100%;
      background: url("../../img/sprite/icon-stars-active.svg") transparent no-repeat center;
    }
  }
} */
