.reviews {
  background-color: $color-background-default;

  .container {
    padding-top: 53px;
    padding-bottom: 136px;
    padding-right: 0;

    @include vp-1199 {
      padding-top: 90px;
      padding-bottom: 86px;
    }

    @include vp-767 {
      padding-top: 72px;
      padding-right: 15px;
      padding-bottom: 68px;
    }
  }
}

.reviews__title {
  position: relative;

  h2 {
    margin-top: 0;
    margin-bottom: 27px;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;

    @include vp-1199 {
      margin-bottom: 27px;
      font-size: 25px;
      line-height: 25px;
    }

    @include vp-767 {
      margin-bottom: 32px;
      font-size: 22px;
      line-height: 22px;
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -25%);
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    opacity: 0.03;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.reviews__slider {
  display: grid;
}

.reviews__slider-buttons-wrapper {
  position: absolute;
  top: -75px;
  right: 120px;
  display: flex;
  gap: 5px;
  width: fit-content;

  @include vp-1199 {
    right: 45px;
    top: -68px;
  }

  @include vp-767 {
    right: 0;
    top: -65px;
  }
}

.reviews__slider-next {
  transform: rotate(180deg);
}
