.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  border: 1px solid $color-button-default;
  background-color: $color-button-default;
  cursor: pointer;

  .slider-btn__icon {
    width: 14px;
    height: 9px;
    fill: $color-icon-light;
  }

  &:hover:not(.swiper-button-disabled),
  &:focus:not(.swiper-button-disabled) {
    border: 1px solid #1c3374;
    background-color: $color-background-default;

    .slider-btn__icon {
      fill: #1c3374;
    }
  }

  &:active:not(.swiper-button-disabled) {
    border: 1px solid #1c3374;
    background-color: #1c3374;

    .slider-btn__icon {
      fill: $color-icon-light;
    }
  }
}
