.social {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 240px;
}

.social__link {
  display: block;
  position: relative;
  width: 29px;
  height: 29px;
  background-color: transparent;
  outline: 1px solid rgba(45, 56, 63, 0.3);

  &:hover:not(:disabled):not([aria-disabled="true"]),
  &:focus:not(:disabled):not([aria-disabled="true"]),
  &:focus-visible:not(:disabled):not([aria-disabled="true"]) {
    outline: 1px solid $color-icon-default;
  }

  &:active:not(:disabled):not([aria-disabled="true"]) {
    outline: 1px solid $color-icon-additional;
    background-color: $color-icon-additional;

    .social__icon {
      fill: $color-icon-light;
    }
  }

  &:disabled,
  &[aria-disabled="true"] {
    pointer-events: none;
    outline: 1px solid rgba(45, 56, 63, 0.3);
    border: none;

    .social__icon {
      fill: rgba(45, 56, 63, 0.3);
    }
  }
}

.social__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $color-icon-default;
}
