// Colors
// ---------------------------------

// Default

$color-default-black:               #2d383f;
$color-default-white:               #ffffff;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-button-default:              #0266c1;
$color-button-text:                 #2d383f;

$color-background-default:          #ffffff;

$color-icon-default:                #2d383f;
$color-icon-additional:             #0266c1;
$color-icon-light:                  #ffffff;

$color-overlay-big-slider:           linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0.00) 100%);
$color-overlay-tour-card:            linear-gradient(0deg, rgba(0, 0, 0, 0.60) 61.90%, rgba(0, 0, 0, 0.00) 100%);
$color-overlay-menu:                 rgba(0, 0, 0, 0.50);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-montserrat:                         "Montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1200:                           1200px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
